<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="Angular-Trivia/src/app/Cash-cab-logo.png">
</div>
<h2>Pick a question category </h2>
<ul id="questionCategories">
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Cat 1</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">Cat 2</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Cat 3</a></h2>
  </li>
</ul>

